@use "./base.scss";
@use "./variables.scss" as *;

// Also see quartz/component/styles

@media screen and (min-width:768px) {
    .page {
        max-width: 70%;
        min-width: 70%;
    }

    [saved-theme=light] article.popover-hint {
        outline: 0.5px solid var(--lightgray);
        padding: 35px;
    }

    [saved-theme=dark] article.popover-hint {
        outline: 0.5px solid #494949;
        padding: 35px;
    }
}

footer {
    font-family: Arial;
    font-size: 0.7rem;
    text-align: left;
    margin-bottom: 4rem;
    opacity: 0.5;
}

sup {
    font-size: 0.7rem;
    vertical-align: top;
    position: relative;
    top: -0.1rem;
}

a {
    color: var(--secondary);
    text-decoration: none;
}
div.desc{
    & a.internal {
        font-size: 0.75rem;
        font-weight: 400;
    }
}

.breadcrumb-element,
p {
    margin-top: 0px;
    font-family: Arial;
    font-size: 0.75rem;
    line-height: 1.4rem;
    text-align: justify;
    hyphens: none;

    & img {
        margin: 0px;
    }
}

.katex {
  font-size: 1em !important;
}

ul.tags,
hr {
    display: none;
}

ol,
ul,
{
   font-family: Arial;
   font-size: 0.75rem ;
   line-height: 1.4rem;
   & li {
        margin: 0;
   }
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
       margin: 0;
  }
}

.footnotes {
   & li + li {
        margin: 1rem 0;
   }
}

.footer {
    line-height: 1rem !important;
    font-size: 0.6rem !important;
}

.article-title {
    padding-top: 0px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.content-meta {
    margin-bottom: 20px;
}

h1 {
    font-family: Georgia;
    font-weight: 500;
    font-size: 1.2rem;
    line-height:1rem;
    letter-spacing: 0.8px;

    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 0.2px solid #494949;
}

h2 {
    font-family: Arial;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
}

h2#footnote-label {
  display: none;
  border-bottom: none;
}

h3 {
    font-family: Arial;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 3px;
}
